* {
  margin: 0;
  padding: 0;
}

div h1 {
  text-align: center;
}
// page MOVIE
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1200px) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
